@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

.container {
  margin: 50px auto;
  width: 350px;
  height: 600px;

  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qrcode-png {
  border-radius: 15px;
  text-align: center;
  margin-top: -20px;
  margin-left: -15px;
  margin-bottom: 31px;
}

.first-p {
  font-weight: bold;
  font-size: 30px;
  color: hsl(218, 44%, 22%);
  width: 380px;
  margin-bottom: 23px;
  margin-left: -15px;
}

.second-p {
  color: hsl(216, 15%, 48%);
  /* margin-bottom: 55px; */
  /* width: 296px; */
  font-size: 21px;
  /* margin-left: 0px; */
  /* text-wrap: wrap; */
  padding: 0 3px;
}

footer {
  margin-top: 37px;
  color: hsl(218, 44%, 22%);
}

footer a:link,
a:visited {
  color: hsl(14, 45%, 36%);
  text-decoration: none;
}

footer a:hover,
a:active {
  font-size: 15px;
  color: gold;
}
